.background {
  position: relative;
  overflow: hidden;
}

.background .background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  heiught: 100%;
  object-fit: cover;
  z-index: -1;
}
