body {
  background: linear-gradient(rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.3)), url(background.HEIC);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
}
