.wrapper {
  border-radius: 12px;
  padding-top: 20px;
  margin: 50px auto;
  max-width: 1350px;
  width: 80%;
  background: rgb(14, 14, 14);
}

img { max-width: 100%; }

nav .items .item {
  padding: 7px 25px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  align-content: center;
}

nav .items .item:hover {
  background: linear-gradient(rgba(213, 130, 13, 0.424), rgba(246, 205, 0, 0.424)) border-box;
}

nav .items .active {
  background: linear-gradient(rgb(213, 130, 13), rgb(246, 205, 0)) border-box;
  position: relative;
}

.wrapper nav {
  display: flex;
  justify-content: center;
}

nav .items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-container {
  padding-right: 50px;
  padding-left: 50px;
  columns: 88px;
  column-gap: 11px;
  margin: 24px auto;
}

.gallery-container .image img {
  width: 100%;
  vertical-align: middle;
  margin-bottom: 11px;
  border-radius: 10px;
  cursor: pointer;
}

.gallery-container .image.hide {
  display: none;
}

.gallery-container .image.show {
  animation: animate 0.4s ease;
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: rgb(0, 0, 0);
  max-width: 900px;
  width: 90%;
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}

.preview-box .details {
  color: white;
  display: flex;
  align-items: center;
  padding: 1px 9px 1px 9px;
  justify-content: space-between;
}

.preview-box .details .title {
  display: flex;
  font-weight: 700;
  font-size: 11px;
}

.details .title p {
  margin: 0;
  margin-left: 5px;
  font-weight: 300;
}

.details .icon {
  color: rgb(210, 0, 0);
  font-size: 20px;
  cursor: pointer;
}

.preview-box .image-box {
  display: flex;
  width: 100%;
}

.image-box img {
  width: 100%;
  height: 450px;
  object-fit: contain;
  border-radius: 0 0 3px 3px;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
  background: rgba(0, 0, 0, 0.7);
}

.shadow.show {
  display: block;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-height: 600px) {
  .image-box img {
    height: 300px;
  }
}
